.learn-container{
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    /* gap: 16px;  */
    width: 80%;
    margin: -3rem auto 2rem auto;
}
.learn-item{
    background-color: #fff;
    padding: 1.8rem 1.5rem 1.5rem 1.7rem;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.item-inner{
    display: flex;
}
.learn-text{
    text-align: left;
    padding-left: 1rem;
}
.learn-text h5{
    font-size: 1.2rem;
    
}
.learn-text p{
    font-size: 13.2px;
    padding-right: 0.5rem;
}